body, header {
	margin: 0;
	font-family: "trebuchet ms","Aller",Arial,sans-serif;
}


#top-menu {
	text-align: center;
	color: white;
	background-color: #b91e32;
	padding-top: 10px;
	padding-bottom: 10px;
	list-style-type: none;
	margin: 0;
}


.top-menu li a{
	color: white;
	text-decoration: none;
}
.top-menu li{
	display :inline-block;
}

.site-header {
	margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 40px;
    margin-left: 40px;
	
}

#logo {
	display: inline-block;
}


#english {
	float: right;
	display: inline-block;
	color: #3F8EC4;
}

#liensRapides {
	color: black;
}

#contenu {
/*
	margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 80px;
    margin-left: 80px;
	*/
	margin: 0;
}

.social-menu {
	padding-top: 10px;
	padding-left: 10px;
	display: inline-block;
	width: 160px;
	height: 80px;
}

.social-menu tr td img {
	padding-right: 10px;
	width: 25px;
	height: 25px;

}

#informations {
	background-color: #F2F1F1;

}

#menus {
	display: inline-block;
	float: right;
	padding-top:10px;
padding-right:10px;
}

#menus div {
	padding-top:15px;
display: inline-block;
padding-right:10px;
padding-left:10px;
}

#menus div img{
	vertical-align: text-top;
	
}

#photo {
	display: block;
	margin: auto;
	max-width: 100%;
	height: auto;
}

.descriptionPhoto {
	padding: 10px;
}

<<<<<<< HEAD


=======
>>>>>>> origin/master

.onglets {
	display: inline-block;
	width: 48%;
	border-top: 1px solid orange;
	border-bottom: 1px solid orange;
	font-weight: bold;
	color: #1f1f1f;
	padding: 1%;
}

.nouvelles-table {
  border-collapse: collapse;
}
.nouvelles-table tr {
	border-bottom-style: solid; 
	border-bottom-width: 1px;
	border-bottom-color: orange;
	padding: 5px 10px; 
}

.nouvelles-table td {
	padding: 10px;
}

.nouvelle-date {
	font-weight: bold;
}
#news {
	background-color: gray;
}

#menuItemsTable {
	width: 100%;
	padding: 0px;
<<<<<<< HEAD
	border-collapse: collapse;
=======
	margin-bottom: 5px;
    transition: 3s ease-out;
>>>>>>> origin/master
}


.menuItem {
	font-weight: bold;
	padding: 10px;
	background-color: white;
<<<<<<< HEAD
	border-top: 1px solid  #d9d9d9;
	border-bottom: 1px solid  #d9d9d9;
=======
	margin: none;
}

.menu-arrow {
	float: right;
>>>>>>> origin/master
}

.headerMenuItems a {
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	text-decoration: none;
}




























